@import "../../../style/index.scss";


#wine{
    height: 100vh;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        background-image: url('../../../assets/light-background-s1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;       
    }



    h3{
        padding-top: 100px;
        text-align: center;
    }


        img{
            width: auto;
            height: 200px;
        }


}